@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

.slider {
    height: 550px;
}

.row {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
} */

.productItem .productMask {
    visibility: hidden;
    cursor: pointer;
    transition: all 0.2s;
}

.productItem:hover .productMask {
    visibility: visible;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid lightgrey;
}
