@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

.slider {
    height: 550px;
}

.row {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
} */

.productItem .productMask {
    visibility: hidden;
    cursor: pointer;
    transition: all 0.2s;
}

.productItem:hover .productMask {
    visibility: visible;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid lightgrey;
}

.instagramBg {
    background: linear-gradient(to top right, yellow, orange, purple, blue);
}

.cart-table tbody td::before {
    content: attr(data-title);
    font-weight: 700;
    float: left;
}

.payment::before {
    content: "";
    display: block;
    border: 1em solid #e0e0e0;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -0.75em;
    left: 0;
    margin: -1em 0 0 2em;
}
